<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/show.css" />
    <title>Document</title>
</head>
<body>
    
        <nav>
            <a href="/products/">Back to Products Index</a>
        </nav>

<div class="container">
        <p class="name">Name: <%=product.name %></p>
        <p class="description">Description: <%= product.description%></p>
        <img src=<%=product.img%>>
        <p class="price">Price: $<%=product.price%></p>
        <p class="quantity">Quantity: <%=product.qty%></p>
        <br>


  <% if (product.qty > 0) { %>
    <form method="POST" action="/products/<%= product._id %>/buy">
      <button>Buy</button>
    </form>
  <% } else { %>
    <form method="POST" action="/products/<%= product._id %>?_method=DELETE">
      <button>Delete</button>
    </form>
  <% } %>

</div>
        <br>
        <a href="/products/<%=product._id%>/edit">Edit</a>
    
</body>
</html>